<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="img/cloudy.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{content}}
        </div>
        {{>footer}}
    </body>
</html>